:host {
  display: grid;
  width: 100%;
  background-color: #EEE;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
}

.images {
  display: grid;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
}

@media (max-width: 600px) {
  .images img {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
}