header {
  text-align: center;
  background-color: #EEE;
  margin-bottom: 20px;
  padding: 10px;
}

.images {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}