:host {
  display: grid;
  grid-template-columns:3;
  grid-template-rows:2;
  width: auto;
  background-color: #EEE;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 600px) {
  .images img {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
}
