<div class="subtitle">
  <h2> Medals per Country </h2>
  <p>Number of JOs {{ numberOfJos }}</p>
  <p>Number of Countries {{ numberOfCountries }}</p>
</div>
<p>{{ (olympics$ | async)?.length }} data loaded</p>
<hr />
<div id="charts">
  <ngx-charts-pie-chart 
    [results]="pieChartData$ | async"
    (select)="onChartClick($event)"
    [legend]="false"
    [legendTitle]="'Olympic Participation Report'" 
    [view]="[1200,400]"
    [labels]="true"
  >
    <ng-template #tooltipTemplate let-model="model">
      <div class="chart-label">{{ model.name }}</div>
      <div class="chart-label"><i class="fa-solid fa-award"></i> {{ model.value }}</div>
    </ng-template>
       
</ngx-charts-pie-chart>
</div>