:host {
  display: grid;
  justify-content: center;
  align-items: center;
}

.subtitle {
  text-align: center;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.chart {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-shadow: lightgray 4px 4px 20px;
  margin-top: 20;
}

.chart-label {
  font-size: 16px;
}

::ng-deep .ngx-charts text {
  font-size: 16px !important;
}

.box {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  flex: 1;
}

@media (max-width: 600px) {
  :host {
    display: grid;
    grid-template-columns: 1fr;
  }
}
