@mixin boxStyle {
  text-align: center;
  border: 3px solid #2D909F; /* Définit la couleur et l'épaisseur de la bordure */
  border-radius: 10px; /* Définit le rayon de l'arrondi des coins */
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 0.2fr 0.3fr 3.2fr 0.4fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . subtitle2 subtitle2 subtitle2 . ."
    ". . entries medals athletes . ."
    "chart chart chart chart chart chart chart"
    ". . . button . . .";
}

.subtitle2 { 
  grid-area: subtitle2;
  color: white;
  background-color: #04838f;
  @include boxStyle;
}

.entries { 
  grid-area: entries;
  @include boxStyle;
}

.medals { 
  grid-area: medals;
  @include boxStyle;
}

.athletes { 
  grid-area: athletes;
  @include boxStyle;
}

.button {
  grid-area: button;
  // border: 3px solid #2D909F;
}

.chart {
  grid-area: chart;
}

.chart-label {
  font-size: 16px;
}

::ng-deep .ngx-charts text {
  font-size: 20px !important;
}
