<div class="subtitle">
  <h2>{{ countryName }}</h2>
  <p>Number of entries {{ numberOfParticipation }}</p>
  <p>Total number medals {{ totalNumberOfMedals }}</p>
  <p>Total number of athletes {{ totalNumberOfAthletes }}</p>


</div>

<hr />

<div>
  <ngx-charts-line-chart
  [results]="lineChartData"
  [view]="[700, 400]"
  [xAxis]="true"
  [yAxis]="true"
  [legend]="false"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [xAxisLabel]="'Dates'"
  [yAxisLabel]="'Medals'">
  </ngx-charts-line-chart>
</div>

<div>
  <button (click)="onGoHome()"> Return to Home Page </button>
</div>